.postBlock {
    padding: 10px;
    display: flex;
}

.postBlock .addPostBlock {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 12;
    padding: 15px 18px;
}

.postBlock .addPostBlock .inputPostMessage {
    flex-grow: 11;
}

.postBlock .addPostBlock .inputPostMessage textarea {
    height: 50px;
    width: 100%;

}

.postBlock .addPostBlock .buttonAddPost {
    flex-grow: 1;
    text-align: right;
}
