.navBar {
    grid-area: n;
    background-color: #b5d2c3;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink{
    color: #3f4257;
    font-size: 26px;
}