.appWrapper {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
          "h h"
          "n c";

}

.appWrapperContent {
    grid-area: c;
    color: lightgray;
}

.blockBox {
    border-radius: 8px;
    margin-bottom: 20px;
}

button {
    font-size: 14px;
    font-weight: 500;
    padding: 12px 32px;
    border-radius: 4px;
    color: #fff;
    background-color: #2d5be3;
    transition: all .3s ease-in-out;
}