.App {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
          "h h"
          "n c";
}

.header {
  grid-area: h;
  background-color: #b5d2c3;
}

.header img {
  height: 50px;
}

.navBar {
  grid-area: n;
  background-color: #b5d2c3;
}

.content {
  grid-area: c;
  background-color: #dec6a9;
}

.ava {
  width: 70px;
}