.descriptionBlock {
    padding: 10px;
}

.profileName{
    color: darkslateblue;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.contact {
    text-decoration: none;
    margin: 0 10px;
}

.profilePhotoBlock {
    position: relative;
    text-align: center;
    top: -35px;
}

.profilePhotoBlock .profilePhoto {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 1px solid #3f4257;
}

.contactsBlock {
    text-align: right;
}